
a{
  color: #fff;
  text-decoration: none;
  transition: .8s ease;
  font-style: italic;
}
a:hover{
  text-decoration: underline;
  color: red;
}
#nombreUsuario span {
    color: red;
}
body{
    background-image: linear-gradient(120deg,#f6d365, #fda085);
    color: #fff;
    font-family: 'Poppins', sans-serif;
    min-height: 100vh;
}
header{
    font-size: 1.5rem;
}
.contenedor-form {
    display: flex;
    justify-content: center;
}
.dentroForm {
    gap:25px;
}
.input-group {
    justify-content: center;
}
.form-floating input {
    height: 30px !important;
}
.hs {
    width: 100px !important;
}
.agregarTarea {
    background-color: white;
    height: 34px;
}
.agregarTarea svg {
    width: 30px;
}
.eliminarTarea {
    background: none;
}

@media only screen and (max-width:480px) {
  
    .cerrarSesion {
        margin-top: 20px;
        font-size: 1rem;
    }
    .cerrarSesion a {
        text-decoration:none;
        color:black;

    }
    .imgHome {
        width:80%;
        height:80px;
    }

  
    .date {
        width:95%;
        display: flex;
        align-items: center;
        justify-content:space-between;
    }

    .dateRight {
        display:flex;
        align-items: center;
    }
    #dataMes, #dataNumero, #dataText {
        font-weight: bold;
    }

    #dataNumero {
        font-size:50px;
    }
    #dataText {
        letter-spacing:3px;
        font-size: 2rem;
        text-transform: uppercase;
    }
    #dataMes, #dataAño {
        margin-left:10px;
        font-size:20px;
    }
    input {
        border:none;
        width:120px;
        border-radius: 5px;
    }
    input:focus {
        outline:none;
    } 
    .e {
        display: flex;
        justify-content:center;
        align-items:center;
        text-align:center;
    }
    #contenedorTareas ul li {
        display: inline-block !important;
        justify-content: space-between !important;
        background-color: #6cc710;
        margin-left: 10%;
        font-size: 1.2rem;
        margin-left:0 auto;
        color:white;
        padding:1px;
        width:80%;
        height:50px;
        margin-top: 15px;
        cursor:pointer;
        border-radius:7px;
        list-style:none; 
        transition:all 0.2s ease; 
        align-items: center;
        text-align:center;
    }
   
    #contenedorTareas ul {
        display:inline-block;
        flex-wrap: wrap;
        
    }
    .contenedorListaTareas {
        display: flex;
        background-color: none !important;
        height: 100%;
    }
    .e {
        display: flex;
        margin-left: 30px;
        width: 100%;
        justify-content: space-between;
    }
    .hsLista {
        width:70px;
        margin-top:10px;
        margin-left: 10px;
        font-size: 1.2rem;
        font-weight: bold;
        color: rgb(27, 1, 1);
        height:100%;
        border:none;
        
    }
    .contenedorBoton {
       text-align: center;
    }
    .eliminarTarea {
        border:none;
        color: red;
        width:60px;
        height:100%;
    }
.realizada {
    background-color: rgb(156, 155, 155) !important;
    text-decoration:line-through;
}

}

@media only screen and (min-width:481px) {
 
    /* HOME */
    div h2 {
        margin-top:20px;
        margin-left: 20px;
        font-size:1.8rem;
    }
    .cerrarSesion {
        margin-top: 20px;
        font-size: 1.8rem;
    }
    .cerrarSesion a {
        text-decoration:none;
        color:black;

    }
    .imgHome {
        width:60%;
        height:100px;
    }

    *:first-letter {
        text-transform: capitalize;
    }

    .date {
        display: flex;
        align-items: center;
        justify-content:space-evenly;
        margin-left: 20px;
    }

    .dateRight {
        display:flex;
        align-items: center;
    }
    #dataMes, #dataNumero, #dataText {
        font-weight: bold;
    }

    #dataNumero {
        font-size:80px;
    }
    #dataText {
        letter-spacing:3px;
        font-size: 2.5rem;
        text-transform: uppercase;
    }
    #dataMes, #dataAño {
        margin-left:10px;
        font-size:28px;
    }
    /* input {
        border:none;
        margin-left: 20px;
        padding-left: 10px;
        background-color:rgb(219, 218, 218);
        width:220px;
    }
    input:focus {
        outline:none;
    } */
   
   

    #contenedorTareas ul li {
        display: inline-block !important;
        justify-content: space-between !important;
        background-color: #6cc710;
        margin-left: 10%;
        font-size: 2.3rem;
        margin-left:0 auto;
        color:white;
        padding:1px;
        width:80%;
        height:70px;
        margin-top: 30px;
        cursor:pointer;
        border-radius:7px;
        list-style:none; 
        transition:all 0.2s ease; 
    }
   
    #contenedorTareas ul {
        display:inline-block;
        flex-wrap: wrap;
        
    }
    .contenedorListaTareas {
        display: flex;
        background-color: none !important;
        height: 100%;
    }
    .e {
        display: flex;
        margin-left: 30px;
        width: 100%;
        justify-content: space-between;
    }
    .hsLista {
        width:70px;
        margin-top:10px;
        margin-left: 10px;
        font-size: 1.6rem;
        font-weight: bold;
        color: rgb(27, 1, 1);
        height:100%;
        border:none;
        
    }
    .contenedorBoton {
       text-align: center;
    }

    .eliminarTarea {
        border:none;
        margin-top: 25px;
        color: red;
        width:50px;
    }
.realizada {
    background-color: rgb(156, 155, 155) !important;
    text-decoration:line-through;
}
}

    @media only screen and (min-width:800px) {
        /* HOME */
        .nombreUsuario {
            color:rgb(219, 109, 109);
        }
        div h2 {
            margin-top:20px;
            margin-left: 20px;
            font-size:2rem;
        }
        .cerrarSesion {
            margin-top: 20px;
            font-size: 2rem;
        }
        .cerrarSesion a {
            text-decoration:none;
            color:black;
    
        }
        .imgHome {
            width:40%;
            height:90px;
        }
    
        /* LISTA */
        .bordeLista {
            border-radius: 5px;
        }
        *:first-letter {
            text-transform: capitalize;
        }
        .date {
            display: flex;
            justify-content: space-evenly;
            /* gap: 98px; */
        }
    
        .dateRight {
            display:flex;
            align-items: center;
        }
        #dataMes, #dataNumero, #dataText {
            font-weight: bold;
        }
    
        #dataNumero {
            font-size:80px;
        }
        #dataText {
            letter-spacing:3px;
            font-size: 2.5rem;
            text-transform: uppercase;
        }
        #dataMes, #dataAño {
            margin-left:10px;
            font-size:28px;
        }
        input {
            border:none;
            margin-left: 45px;
            padding-left: 10px;
            background-color:rgb(219, 218, 218);
            width:340px;
        }
        input:focus {
            outline:none;
        }
    
        
        #contenedorTareas ul li {
            display: inline-block !important;
            justify-content: space-between !important;
            border-radius: 4%;
            width: 46%;
            margin-top: 25px;
            margin-left: 3%;
            font-size: 2.1rem;
            color:white;
            height:60px;
            cursor:pointer;
            list-style:none;   
            transition:all 0.2s ease; 
        }
        #contenedorTareas ul li:hover {
            transform:scale(1.1);
        }
        #contenedorTareas ul {
            display:inline-block;
            flex-wrap: wrap;
            
        }
        .contenedorListaTareas {
            display: flex;
            background-color: none !important;
            height: 100%;
        }
        .e {
            display: flex;
            margin-left: 20px;
            justify-content: space-between;
        }
        .hsLista {
            width:70px;
            margin-top:8px;
            font-size: 1.4rem;
            font-weight: bold;
            color: rgb(27, 1, 1);
            height:100%;
            border:none;
            
        }
        .contenedorBoton {
           text-align: center;
        }
        .eliminarTarea {
            border:none;
            margin-top: 12px;
            margin-left:10px;
            color: red;
            width:40px;
        }
    .realizada {
        background-color: rgb(156, 155, 155) !important;
        text-decoration:line-through;
    }
    
        }

        @media only screen and (min-width: 1400px) {
            #contenedorTareas ul li {
                display: inline-block !important;
                justify-content: space-between !important;
                border-radius: 4%;
                width: 30%;
                margin-top: 25px;
                margin-left: 3%;
                font-size: 2.1rem;
                color:white;
                height:60px;
                cursor:pointer;
                list-style:none;   
                transition:all 0.2s ease; 
            }
            .date {
                margin-top: 40px;
            }
            #contenedorTareas {
                display: flex;
                text-align: center;
               justify-content: center;
               align-items: center;
               margin-top: 70px;
            }
        }