@media only screen and (max-width:480px) {
    body {
        background-color: rgb(234, 245, 243);
    }
    img {
        width: 100%;
    }
    .usuarioOcontraseña {
        margin-left:20px;
        margin-top:30px;
    }
    .dataUser input {
        width:250px;
        height: 50px;
        border-radius:10px;
        margin-top:15px;
        font-size: 1.5rem;
    }
    .iniciarSesion {
        margin-top: 20px;
        border-radius: 10px;
        width:180px;
        height:45px;
        font-size: 1.3rem;
        font-weight: bold;
        color: rgb(250, 153, 153);
        background-color: rgb(138, 207, 179);
    }
    /* .errorLogin {
        border:none;
        margin-top: 10px;
        background-color:rgb(243, 129, 129);
        font-size: 1.2rem;
        width:300px;
    } */
    .noTenesCuenta {
        margin-top:5px;
        font-size: 1.5rem;
    }
    /*MODAL*/
    .modal-content {
        margin-top: 50%;
        height:400px;
        font-size: 1.3rem;
        align-items: center;
        /* background-image:url("..img/fondoMarmol.jpg");
        background-repeat: no-repeat;
        background-attachment: fixed;
        /* Se adapta al ancho de la pantalla(cover) */
        /* background-size: cover; */
    }
    .containerModal {
        width:300px;
    }
    .formRegistro div input {
        height:40px;
        margin-top: 10px;  
    }
    .formRegistro .iniciarSesion {
        height:60px;
        width:200px;
    }
    /* HOME */
    nav {
        display:flex;
        margin-bottom: 50px;
    }
    nav div {
    width:95%;
    }
    div h2 {
        margin-top:20px;
        margin-left: 20px;
        font-size:1.3rem;
    }
    .cerrarSesion {
        margin-top: 20px;
        font-size: 1.1rem;
    }
    .cerrarSesion a {
        text-decoration:none;
        color:black;

    }
    .imgHome {
        width:80%;
        height:80px;
    }

    /* LISTA */
    .bordeLista {
        border-radius: 5px;
    }
    *:first-letter {
        text-transform: capitalize;
    }
    .list {
        margin: 25px auto;
        padding:25px;
        background-color: red;
        width: 90%;
        max-width: 350px;
    }
    .date {
        display: flex;
        align-items: center;
        justify-content:space-between;
    }

    .dateRight {
        display:flex;
        align-items: center;
    }
    #dataMes, #dataNumero, #dataText {
        font-weight: bold;
    }

    #dataNumero {
        font-size:50px;
    }
    #dataText {
        letter-spacing:3px;
        font-size: 2rem;
        text-transform: uppercase;
    }
    #dataMes, #dataAño {
        margin-left:10px;
        font-size:20px;
    }
    form {
        margin: 10px 0;
        margin-left: 5px;
        width:85%;
        display:grid;
        grid-auto-flow: column;
        grid-template-columns: auto 35px auto;
        grid-column-gap: 15px;
    }
    input {
        border:none;
        padding-left: 10px;
        background-color:rgb(219, 218, 218);
        width:170px;
    }
    input:focus {
        outline:none;
    }
    .agregarTarea, .ordenarTareas {
        border:none;
        font-weight: bold;
        cursor:pointer;
        background-color:rgb(219, 218, 218);
    }
    .agregarTarea {
        height:45px;
        border-radius: 50%;
        font-size: 18px;
    }
    .ordenarTareas {
        background-color: rgb(228, 66, 66);
        color:white;
        border-radius:5px;
    }
    #contenedorTareas ul li {
        background-color: #6cc710;
        font-size: 1.6rem;
        margin-left:0 auto;
        color:white;
        padding:12px;
        width:80%;
        margin-top: 30px;
        cursor:pointer;
        border-radius:7px;
        list-style:none;
    }
    #contenedorTareas ul {
        display:flex;
        flex-wrap: wrap;
    }
    .eliminarTarea {
        border:none;
        margin-top: 25px;
        color: red;
        width:50px;
    }


}